PORT=9000
FRONTEND_PORT=8066
DATABASE_URL=mongodb://admin:admin@localhost:27017/?authMechanism=DEFAULT
LOCALHOST_RPC=http://127.0.0.1:8545/
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin